.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

p, li, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none !important;
}

#logo {
  width: 30px;
  height: auto;
}

.playerChartBox {
  width: 99%;
  min-height: 375px;
}

.teamChartBox {
  width: 99%;
  min-height: 500px;
}